.Form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: @color-bg-form;
	color: @color-text;
	&-header {
		text-align: center;
		padding-top: 120px;
		padding-bottom: 78px;
		margin: @margin-center;
	}
	&-headerText{
		font-family: 'TitilliumBold', sans-serif;
		font-size: 40px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-blue;
		margin-bottom: 22px;
	}
	&-subText{
		font-family: 'TitilliumRegular',sans-serif;
		font-size: 18px;
		line-height: 1.5;
	}
	&-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 115px;
	}
	&-headerWrap{
		display: flex;
		padding-bottom: 27px;
		.Form-group:first-child {
			margin-right: 32px;
		}
	}
	&-box{
		box-sizing: border-box;
		font-family: "TitilliumRegular", sans-serif;
		font-size: 18px;
		padding: 19.5px;
		background: @color-bg-form-input;
		outline: none;
		color: @color-text;
		border-radius: 5px;
	}
	&-group{
		display: flex;
		flex-direction: row;
	}
	&-messege{
		background: @color-bg-form-input url(../images/Arrow.png) no-repeat bottom right(-3px);
		margin-bottom: 59px;
		outline: none;
		resize: none;
		overflow: hidden;
		width: 860px;
		height: 200px;
	}
	&-input{
		width: 414px;
		height: 56px;
	}
}