.Team {
	.flex-row;
	justify-content: center;
	background: @color-bg-team;
	color: @color-text-team;

	&-header {
		text-align: center;
		padding-top: 102px;
		padding-bottom: 74px;
		margin: @margin-center;
	}

	&-headerText{
		font-family: @font-base;
		.font-bold;
		font-size: 40px;
		text-transform: @text-transform;
		padding-bottom: 9px;
     	padding-left: 2px;
    	letter-spacing: 3.9px;
	}

	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-blue;
		margin-bottom: 14px;
	}

	&-subText{
		font-family: @font-base;
		.font-regular;
		font-size: @font-size-base;
		line-height: 1.5;
		letter-spacing: 0.378px;
	}

	&-content--wrap{
		display: flex;
		justify-content: space-around;
	}

	&-cardContent{
		width: 22%;
		.flex-column;
	}

	&-itemCard {
		margin: @margin-center;
		padding-bottom: 39px;
	}

	&-cardHeader{
		font-family: @font-base;
		.font-bold;
		font-size: 24px;
		text-transform: @text-transform;
		padding-bottom: 11px;
		margin: @margin-center;
	}

	&-cardSubHeader{
		color: @color-link;
		font-family: @font-base;
		.font-regular;
		font-size: 16px;
		padding-bottom: 23px;
		margin: @margin-center;
		letter-spacing: 1px;
    	padding-right: 11px;
	}
	
	&-cardSubText{
		margin: @margin-center;
		font-family: @font-base;
		.font-light;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		margin: -2px 20px;
		padding-bottom: 31px;
	}
	@media @phone-strict{

	}
	@media @tablet-strict{
		
	}
	@media @desktop-strict{
		
	}
}