.u-container{
	width: 1100px;
	margin: 0 auto;
}
.u-width40{
	width: 40.17%;
}
.u-width47{
	width: 47.36%;
}
.u-width50{
	width: 50%;
}
.u-height38{
	height: 38px;
}
.u-height100{
	height: 100%;
}
.u-width540{
	width: 540px;
}
.u-heightSkills{
	height: 651px;
}