.Welcome {
	display: flex;
	color: @color-text;
	background: @color-bg-welcome;
	&-header {
		display: flex;
		justify-content: space-between;
		padding-top: 27px;
		padding-bottom: 150px;
		height: 40px;
    	line-height: 40px;
	}
	&-logo--wrapper{
		padding-left: 42px;
	}
	&--navbar--wrap{
		margin-right: 4px;
	}
	&-navbar{
		display: flex;
		justify-content: space-around;
		font-size: 16px;
		height: 40px;
		width: 459px;
    	letter-spacing: -0.5px;
	}
	&-items{
		font-family: @font-base;
		font-weight: normal;
    	font-style: normal;
		color: @color-text;
		text-decoration: none;
		text-transform: uppercase;
		padding: 9px 15px;
		&:hover{
			background: @color-bg-hover;
			border-radius: 5px;
		}
	}
	&-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		padding-bottom: 148px;
		padding-top: 25px;
	}
	&-contentText{
		font-size: 42.16px;
		font-family: @font-base;
		font-weight: bold;
    	font-style: normal;
		letter-spacing: -0.9px;
    	word-spacing: -5.9px;
    	font-weight: bold;
	}
}

