.Testimonials{
	.flex-column;
	justify-content: center;
	background: @color-bg-testimonials;
	color: @color-text;

	&-header {
		text-align: center;
		padding-top: 102px;
		padding-bottom: 63px;
		margin: @margin-center;
	}

	&-headerText{
		font-family: @font-base;
		.font-bold;
		font-size: 40px;
		text-transform: uppercase;
		padding-bottom: 6px;
		letter-spacing: 4px;
    	padding-left: 5px;
	}

	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-purpur;
		margin-bottom: 13px;
	}

	&-subText{
		font-family: @font-base;
		.font-regular;
		font-size: @font-size-base;
		line-height: 1.5;
		letter-spacing: 0.4px;
	}

	&-cardContent{
		.flex-row;
		&:nth-child(2){
			margin-right: 17px;
		}
	}

	&-wrap{
		.flex-row;
		justify-content: space-between;

		&:first-child{
			padding-bottom: 145px;
		}

		&:last-child{
			padding-bottom: 130px;
		}
	}

	&-wrapCardImg{
		margin-right: 48px;
		&:nth-child(2){
			margin-right: 52px;
		}
	}

	&-text{
		font-size: 21px;
		font-family: @font-base;
		.font-italic;
		line-height: 1.5;
		padding-bottom: 20px;

		&:first-child{
	    	letter-spacing: 0.84px;
	        padding-top: 6px;
		}

		&:nth-child(2){
			letter-spacing: 1.2px;
    		word-spacing: -1.2px;
		}
	}

	&-nameText{
		font-size: 24px;
		font-family: @font-base;
		.font-bold;
		padding-bottom: 11px;
		text-transform: uppercase;

		&:first-child{
			letter-spacing: -0.2px;
		    word-spacing: 5.1px;
		    text-transform: uppercase;
		}

		&:nth-child(2){
			letter-spacing: 0.6px;
    		padding: 3px 0 5px 3px;
		}
	}

	&-post{
		font-size: 18px;
		font-family: @font-base;
		.font-regular;
		color: @color-text-testimonial-post;

		&:first-child{
			margin-top: -3px;
    		letter-spacing: 0.5px;
		}
		
		&:nth-child(2){
			letter-spacing: 0.5px;
    		padding-left: 3px;
		}
	}
	@media @phone-strict{

	}
	@media @tablet-strict{
		
	}
	@media @desktop-strict{
		
	}
}