.Testimonials{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: @color-bg-testimonials;
	color: @color-text;
	&-header {
		text-align: center;
		padding-top: 114px;
		padding-bottom: 63px;
		margin: @margin-center;
	}
	&-headerText{
		font-family: @font-base;
		font-weight: bold;
    	font-style: normal;
		font-size: 40px;
		text-transform: uppercase;
		padding-bottom: 11px;
	}
	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-purpur;
		margin-bottom: 15px;
	}
	&-subText{
		font-family: @font-base;
		 font-weight: normal;
    	font-style: normal;
		font-size: 18px;
		line-height: 1.5;
	}
	&-cardContent{
		display: flex;
		flex-direction: row;
	}
	&-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&:first-child{
			padding-bottom: 131px;
		}
		&:last-child{
			padding-bottom: 89px;
		}
	}
	&-wrapCardImg{
		margin-right: 50px;
	}
	&-ctt{
		font-size: 21px;
		font-family: @font-base;
		font-weight: 300;
    	font-style: normal;
		line-height: 1.5;
		padding-bottom: 28px;
	}
	&-nameText{
		font-size: 24px;
		font-family: @font-base;
		font-weight: bold;
    	font-style: normal;
		padding-bottom: 11px;
	}
	&-post{
		font-size: 18px;
		font-family: @font-base;
		 font-weight: normal;
    	font-style: normal;
		color: @color-text-testimonial-post;
	}
}