<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cuda</title>
</head>
<body>
	<header class="Welcome">
		<div class="u-container">
			<div class="Welcome-header">
				<div class="Welcome-logo--wrapper u-height100">
					<img class="Welcome-logo" src="images/logo.png" alt="Cuda">
				</div>
				<nav class="Welcome-navbar--wrap">
					<ul class="Welcome-navbar">
						<li><a href="#" class="Welcome-items">home</a></li>
						<li><a href="#" class="Welcome-items">about</a></li>
						<li><a href="#" class="Welcome-items">work</a></li>
						<li><a href="#" class="Welcome-items">blog</a></li>
						<li><a href="#" class="Welcome-items">contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="Welcome-content">
					<p class="Welcome-contentText">Hi there! We are the new kids on the block</p>
					<p class="Welcome-contentText">and we build awesome websites and mobile apps.</p>
				<button class="Btn Btn-welcome Btn--orange">
					Work with us!
				</button>
			</div>
		</div>
	</header>
	<section class="Services">
		<div class="u-container">
			<div class="Services-header">
				<h2 class="Services-headerText">
					Services we provide
				</h2>
				<span class="Services-decorLine"></span>
				<p class="Services-subText">
					We are working with both individuals and businesses from all over the globe <br>
					to create awesome websites and applications.
				</p>
			</div>
			<div class="Services-content--wrap">
				<div class="Services-cardContent">
					<img class="Services-cardImg" src="images/icon_flag.png" alt="flag">
					<p class="Services-cardHeader">Branding</p>
					<p class="Services-cardSubText">Lorem ipsum dolor sit amet, 
						consectetuer adipiscing elit, sed diam nonummy nibh.
					</p>
				</div>
				<div class="Services-cardContent">
					<img class="Services-cardImg" src="images/icon_pensil.png" alt="pensil">
					<p class="Services-cardHeader">Design</p>
					<p class="Services-cardSubText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem  </p>
				</div>
				<div class="Services-cardContent">
					<img class="Services-cardImg" src="images/icon_gears.png" alt="gears">
					<p class="Services-cardHeader">Development</p>
					<p class="Services-cardSubText">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
				</div>
				<div class="Services-cardContent">
					<img class="Services-cardImg" src="images/icon_rocket.png" alt="rocket">
					<p class="Services-cardHeader">Rocket science</p>
					<p class="Services-cardSubText">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="Team">
		<div class="u-container">
			<div class="Team-header">
				<h2 class="Team-headerText">
					MEET OUR BEAUTIFUL TEAM
				</h2>
				<span class="Team-decorLine"></span>
				<p class="Team-subText">
					We are a small team of designers and developers, who help brands with big ideas.
				</p>
			</div>
			<div class="Team-content--wrap">
				<div class="Team-cardContent">
					<img class="Team-faceCard" src="images/mungshot.png" alt="mangshot">
					<p class="Team-cardHeader">ANNE HATHAWAY</p>
					<p class="Team-cardSubHeader">
					CEO / Marketing Guru
					</p>
					<p class="Team-cardSubText">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					</p>
					<div class="Icon">
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Facebook_icon.png" alt="Facebook">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Twitter_icon.png" alt="Twitter">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/LinkedIn_icon.png" alt="LinkedIn">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Mail_icon.png" alt="Mail">
						</a>
					</div>
				</div>
				<div class="Team-cardContent">
					<img class="Team-faceCard" src="images/mungshot.png" alt="mangshot">
					<p class="Team-cardHeader">Kate Upton</p>
					<p class="Team-cardSubHeader">
						Creative Director
					</p>
					<p class="Team-cardSubText">
						Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
					</p>
					<div class="Icon">
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Twitter_icon.png" alt="Twitter">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/LinkedIn_icon.png" alt="LinkedIn">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Mail_icon.png" alt="Mail">
						</a>
					</div>
				</div>
				<div class="Team-cardContent">
					<img class="Team-faceCard" src="images/mungshot.png" alt="mangshot">
					<p class="Team-cardHeader">Olivia Wilde</p>
					<p class="Team-cardSubHeader">
						Lead Designer
					</p>
					<p class="Team-cardSubText">
						Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.
					</p>
					<div class="Icon">
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Facebook_icon.png" alt="Facebook">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Twitter_icon.png" alt="Twitter">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/LinkedIn_icon.png" alt="LinkedIn">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Mail_icon.png" alt="Mail">
						</a>
					</div>
				</div>
				<div class="Team-cardContent">
					<img class="Team-faceCard" src="images/mungshot.png" alt="mangshot">
					<p class="Team-cardHeader">Ashley Greene</p>
					<p class="Team-cardSubHeader">
						SEO / Developer
					</p>
					<p class="Team-cardSubText">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					</p>
					<div class="Icon">
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Facebook_icon.png" alt="Facebook">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/LinkedIn_icon.png" alt="LinkedIn">
						</a>
						<a class="Icon-imgLink" href="#">
							<img class="Icon-img" src="images/Mail_icon.png" alt="Mail">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="Skill">		
	</section>
	<section class="Portfolio">
		<div class="u-container">
			<div class="Portfolio-header">
				<h2 class="Portfolio-headerText">
					OUR PORTFOLIO
				</h2>
				<span class="Portfolio-decorLine"></span>
				<p class="Portfolio-subText">
					Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
				</p>
				<div class="Btn--toggleWrap">
					<button class="Btn-item">All</button>
					<button class="Btn-item">web</button>
					<button class="Btn-item">apps</button>
					<button class="Btn-item">icons</button>
				</div>
			</div>
			<div class="Portfolio-wrap">
				<div class="Portfolio-cardWrap u-width540">
					<img src="images/laptop_first.png" alt="laptop" class="Portfolio-items">
					<p class="Portfolio-textDepiction">Isometric Perspective Mock-Up</p>
				</div>
				<div class="Portfolio-cardWrap u-width540">
					<img src="images/laptop_second.png" alt="laptop" class="Portfolio-items">
					<p class="Portfolio-textDepiction">Time Zone App UI</p>
				</div>
				<div class="Portfolio-cardWrap u-width540">
					<img src="images/laptop_third.png" alt="laptop" class="Portfolio-items">
					<p class="Portfolio-textDepiction">Viro Media Players UI</p>
				</div>
				<div class="Portfolio-cardWrap u-width540">
					<img src="images/laptop_forth.png" alt="laptop" class="Portfolio-items">
					<p class="Portfolio-textDepiction">Blog / Magazine Flat UI Kit</p>
				</div>
			</div>
			<div class="Portfolio-wrapPortfolio">
				<button class="Btn Btn--green">
					LOAD MORE PROJECTS
				</button>
			</div>
		</div>
	</section>
	<section class="Testimonials">
		<div class="u-container">
			<div class="Testimonials-header">
				<h2 class="Testimonials-headerText">
					WHAT POEPLE SAY ABOUT US
				</h2>
				<span class="Testimonials-decorLine"></span>
				<p class="Testimonials-subText">
					Our clients love us!
				</p>
			</div>
			<div class="Testimonials-wrap">
				<div class="Testimonials-wrapper">
					<div class="Testimonials-cardContent u-width47">
						<div class="Testimonials-wrapCardImg">
							<img class="Services-cardImg" src="images/mugshot_small.png" alt="mugshot">
						</div>
						<div class="Testimonials-wrapText">
							<p class="Testimonials-ctt">
								“Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.”
							</p>
							<p class="Testimonials-nameText">
								Chanel Iman
							</p>
							<p class="Testimonials-post">
								CEO of Pinterest
							</p>
						</div>
					</div>
					<div class="Testimonials-cardContent u-width47">
						<div class="Testimonials-wrapCardImg">
							<img class="Services-cardImg" src="images/mugshot_small.png" alt="mugshot">
						</div>
						<div class="Testimonials-wrapText">
							<p class="Testimonials-ctt">
								“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
							</p>
							<p class="Testimonials-nameText">
								ADRIANA LIMA
							</p>
							<p class="Testimonials-post">
								Founder of Instagram
							</p>
						</div>
					</div>
				</div>
				<div class="Testimonials-wrapper">
					<div class="Testimonials-cardContent u-width47">
						<div class="Testimonials-wrapCardImg">
							<img class="Services-cardImg" src="images/mugshot_small.png" alt="mugshot">
						</div>
						<div class="Testimonials-wrapText">
							<p class="Testimonials-ctt">
								“Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.”
							</p>
							<p class="Testimonials-nameText">
								ANNE HATHAWAY
							</p>
							<p class="Testimonials-post">
								Lead Designer at Behance
							</p>
						</div>
					</div>
					<div class="Testimonials-cardContent u-width47">
						<div class="Testimonials-wrapCardImg">
							<img class="Services-cardImg" src="images/mugshot_small.png" alt="mugshot">
						</div>
						<div class="Testimonials-wrapText">
							<p class="Testimonials-ctt">
								“Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.”
							</p>
							<p class="Testimonials-nameText">
								EMMA STONE
							</p>
							<p class="Testimonials-post">
								Co-Founder of Shazam
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="Form">
		<div class="u-container">
			<div class="Form-header">
				<h2 class="Form-headerText">
					GET IN TOUCH
				</h2>
				<span class="Form-decorLine"></span>
				<p class="Form-subText">
					1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
				</p>
			</div>
			<form class="Form-wrapper" action="#" method="post">
				<div class="Form-headerWrap">
					<div class="Form-group">
						<input class="Form-box Form-input" type="text" name="username" placeholder="Your name*">
					</div>
					<div class="Form-group">
						<input class="Form-box Form-input" type="email" name="email" placeholder="Your email*">
					</div>
				</div>
				<div class="Form-group">
					<textarea class="Form-box Form-messege" name="messege" placeholder="Your Messege*"></textarea>
				</div>
				<div class="Form-group">
					<input class="Btn Btn--blue" type="submit" name="button" value="Send messege">
				</div>
			</form>
		</div>
	</section>
	<footer class="Footer">
		<div class="u-container">
			<ul class="Footer-navigation">
				<li><a class="Footer-items" href="https://www.facebook.com">Facebook</a></li>
				<li><a class="Footer-items" href="https://twitter.com">Twitter</a></li>
				<li><a class="Footer-items" href="https://plus.google.com/">Google+</a></li>
				<li><a class="Footer-items" href="https://www.linkedin.com">LinkedIn</a></li>
				<li><a class="Footer-items" href="https://www.behance.net">Behance</a></li>
				<li><a class="Footer-items" href="https://dribbble.com">Dribbble</a></li>
				<li><a class="Footer-items" href="https://github.com">GitHub</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>