.Footer{
	display: flex;
	align-items: center;
	background: @color-bg-footer;
	color: @color-text;
	font-family: @font-base;
	font-weight: 600;
    font-style: normal;
	font-size: 24px;
	&-toggle{
		display: flex;
		justify-content: space-around;
		padding: 36px 52px;
	}
	&-items{
		text-decoration: none;
		color: @color-text;
		&:hover{
			color: @color-link;
		}
	}
}