.Services{
	.flex-row;
	justify-content: center;
	background: @color-bg-services;
	color: @color-text;
	box-sizing: border-box;

	&-header {
		text-align: center;
		padding-top: 103px;
		padding-bottom: 79px;
		margin: @margin-center;
	}

	&-headerText{
		font-family: @font-base;
		.font-bold;
		font-size: 40px;
		text-transform: @text-transform;
		padding-bottom: 5px;
		letter-spacing: 4.7px;
    	word-spacing: -5px;
    	padding-left: 7px;
	}

	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-green;
		margin-bottom: 12px;
	}

	&-subText{
		font-family: @font-base;
		.font-regular;
		font-size: @font-size-base;
		line-height: 1.5;
      	padding-left: 6px;
    	letter-spacing: 0.4px;
	}
	&-content{
		display: flex;
	}
	&-content--wrap{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-bottom: 136px;
		&:first-child{
			margin-right: 46px;
		}
	}

	&-cardContent{
		width: 45%;
		.flex-column;
		align-items: center;
		box-sizing: border-box;

		&--rocket{
			margin-right: 10px;
    		margin-top: -3px;
		}

		&:nth-child(3){
			margin-right: 6px;
		}
		&--pencil{
			margin-right: -14px;
		}
	}

	&-cardImg {
		box-sizing: border-box;
		padding-bottom: 58px;
		margin-left: 11px;
		&--first{
			margin-left: 42px;
		}
		&--rocket{
			margin-left: 2px;
		}
	}
	&-wrapTextContent{
		text-align: center;
	}

	&-cardHeader{
		font-family: @font-base;
		.font-bold;
		font-size: 24px;
		text-transform: @text-transform;
		padding-bottom: 27px;
	}
	
	&-cardSubText{
		font-family: @font-base;
		.font-light;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		margin: -10px 19px;
	}
}