.Portfolio{
	.flex-row;
	justify-content: center;
	background: @color-bg-portfolio;
	color: @color-text-portfolio;
	&-header {
		text-align: center;
		padding-top: 104px;
		padding-bottom: 47px;
		margin: 0 26%;
		width: 48.36%;
	}
	&-headerText{
		font-family: @font-base;
		.font-bold;
		font-size: 40px;
		text-transform: @text-transform;
		padding-bottom: 6px;
		letter-spacing: 4px;
		margin-left: 4px;
	}
	&-decorLine{
		display: inline-block;
		text-align: center;
		width: 88px;
		height: 4px;
		background: @color-underline-portfolio;
		margin-bottom: 14px;
		margin-left: 4px;
	}
	&-subText{
		font-family: @font-base;
		.font-regular;
		font-size: @font-size-base;
		line-height: 1.5;
		margin-bottom: 38px;
		letter-spacing: -0.7px;
    	word-spacing: 7px;
	}
	&-wrap{
		.flex-row;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		padding-top: 18px;
	}
	&-cardWrap{
		padding-bottom: 60px;
		&:first-child, 
		&:nth-child(3){
			margin-right: 10px;
		}
	}
	&-items{
		width: 100%;
		padding-bottom: 24px;
	}
	&-textDepiction{
		font-size: @font-size-base;
		font-family: @font-base;
		.font-regular;
		text-transform: @text-transform;
		letter-spacing: 0.9px;
	}
	&-wrapPortfolio{
		width: 100%;
		text-align: center;
		padding-bottom: 110px;
		padding-bottom: 112px;
	    margin-top: 26px;
	    margin-left: 5px;
	}
}