//Fonts
.font-regular{
    font-weight: normal;
    font-style: normal;
}
.font-bold{
    font-weight: bold;
    font-style: normal;
}
.font-semibold{
    font-weight: 600;
    font-style: normal;
}
.font-light{
    font-weight: 300;
    font-style: normal;
}
.font-italic{
    font-weight: 300;
    font-style: italic
}

//Flex direction
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
@mobile:      ~"screen and (max-width: 768px) and (min-width:320px)";
@mobile_xs:      ~"screen and (max-width: 480px) and (min-width: 320px)";

// Media setup

@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min -1);
@sm-max: (@md-min -1);
@md-max: (@lg-min -1);

@phone:          ~"all and (min-width: @{xs-min})";
@phone-strict:   ~"all and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"all and (min-width: @{sm-min})";
@tablet-strict:  ~"all and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"all and (min-width: @{md-min})";
@desktop-strict: ~"all and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"all and (min-width: @{lg-min})";